#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_auto_configure:
	# Use bundled waf with patched waflib (imp → types for Python 3.12+)
	CXXFLAGS="$(CXXFLAGS) -I/usr/include/db5.3" \
	LDFLAGS="$(LDFLAGS) -ldb-5.3" \
	./waf configure \
		--prefix=/usr \
		--libdir=/usr/lib/aarch64-linux-gnu \
		--autostart=none \
		--systemd-unit \
		--classic \
		--dbus

override_dh_auto_build:
	./waf build

override_dh_auto_install:
	./waf --destdir=$(CURDIR)/debian/jack2-pistomp install
