#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_auto_configure:
	# Remove bundled waflib entry point (uses removed imp module)
	rm -f waf
	# Use system waf
	CXXFLAGS="$(CXXFLAGS) -I/usr/include/db5.3" \
	LDFLAGS="$(LDFLAGS) -ldb-5.3" \
	waf configure \
		--prefix=/usr \
		--autostart=none \
		--systemd-unit \
		--classic \
		--dbus

override_dh_auto_build:
	waf build

override_dh_auto_install:
	waf --destdir=$(CURDIR)/debian/jack2-pistomp install
