
[Unit]
Description=JACK2 Audio Server
After=firstboot.service

[Service]
Environment=LV2_PATH=/home/pistomp/.lv2
Environment=JACK_NO_AUDIO_RESERVATION=1
Environment=JACK_PROMISCUOUS_SERVER=jack
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStartPre=-+/usr/bin/lcd-splash /usr/share/pistomp/splash.rgb565 "Loading audio engine"
ExecStart=/etc/jackdrc
User=jack
Group=jack
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
