[Unit]
Description=MOD-ALA-PI-STOMP
After=mod-ui.service
Requires=mod-ui.service

[Service]
ExecStart=/opt/pistomp/venvs/pi-stomp/bin/python /home/pistomp/pi-stomp/modalapistomp.py
Restart=always
RestartSec=2
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
