[Unit]
Description=Realtime IRQ thread priority tuning
After=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/rtirq
ExecStart=/etc/init.d/rtirq start
ExecStop=/etc/init.d/rtirq stop

[Install]
WantedBy=multi-user.target
