#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/mod-ttymidi/usr/bin
	install -d $(CURDIR)/debian/mod-ttymidi/usr/lib/$(DEB_HOST_MULTIARCH)/jack
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/mod-ttymidi install
