#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-Denable-sdl2=OFF \
		-Denable-sdl3=OFF \
		-Denable-jack=ON \
		-Denable-alsa=ON \
		-Denable-pulseaudio=ON \
		-Denable-libsndfile=ON \
		-Denable-dbus=ON \
		-Denable-ladspa=ON \
		-Denable-portaudio=ON \
		-Denable-readline=ON \
		-DLIB_SUFFIX=""
